{% extends 'base.html.twig' %}

{% block title %}Hello FlowerController!
{% endblock %}

{% block body %}
	<header></header>


	{% for flower in flowers %}
		<p>{{ flower }}</p>
	{% endfor %}

	<div {{ stimulus_controller('say-hello') }}>
		<input type="text" {{ stimulus_target('say-hello', 'name') }}>

		<button {{ stimulus_action('say-hello', 'greet') }}>
			Greet
		</button>

		<div {{ stimulus_target('say-hello', 'output') }}></div>
	</div>

{% endblock %}
